#root {
  position: absolute;
}

.DIV1 {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  cursor: pointer;
  transition: 1s;
  justify-content: space-around;
  width: 250px;
  height: 300px;
  border: 5px solid #ffc300;
  margin-bottom: 30px;
  border-radius: 10px;
  padding: 5px;
  background-color: transparent;
}

.DIV1:hover {
  transform: scale(1.1);
}

.H5 {
  text-align: center;
  text-transform: uppercase;
  color: #caf0f8;
}

.SPAN1 {
  margin-top: 15px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: #caf0f8;
}

.pChat {
  background: #b8babb;
  border-radius: 20px;
  padding: 2px;
  margin-top: 3px;
  padding-left: 10px;
  padding-right: 10px;
}

.tChat1 {
  background: #48cae4;
  border-radius: 20px;
  padding: 10px;
  margin-top: 3px;
  max-width: 50%;
  text-align: justify;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.tChat2 {
  background: #48cae4;
  border-radius: 20px;
  padding: 10px;
  margin-top: 3px;
  max-width: 50%;
  text-align: justify;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.uChat1 {
  background: #ade8f4;
  border-radius: 20px;
  padding: 10px;
  margin-top: 3px;
  max-width: 50%;
  text-align: justify;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.uChat2 {
  background: #ade8f4;
  border-radius: 20px;
  padding: 10px;
  margin-top: 3px;
  max-width: 50%;
  text-align: justify;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
